# Files to be ignored by Git
#
# Copyright (c) 2017-2025 Carsten Grohmann
# License: MIT (see LICENSE.txt)
# THIS PROGRAM COMES WITH NO WARRANTY

# Byte-compiled / optimized / DLL files
*.py[cod]

# Virtual environment
env/

# IntelliJ project files
.idea

# Webdriver Manager: cache for selenium drivers
.wdm

# Generated (compiled) JavaScript code
__target__/
OOMAnalyser.js

# Release files
release/
OOMAnalyser*.zip
OOMAnalyser*.tar.gz
