# Files to be ignored by Git

# Byte-compiled / optimized / DLL files
*.py[cod]

# Virtual environment
env/

# IntelliJ project files
.idea

# Generated (compiled) JavaScript code
__target__/
OOMAnalyser.js