# Requirements to setup virtual environment for OOMAnalyser
#
# Copyright (c) 2017-2024 Carsten Grohmann
# License: MIT (see LICENSE.txt)
# THIS PROGRAM COMES WITH NO WARRANTY

Transcrypt == 3.7.16
selenium
webdriver-manager
pre-commit
black == 24.3.0
